.block {
    &__filter {
        width: 100%;
    }
}

.filter {
    &-form {
        display: flex;
    }

    &-wrapper {
        min-width: 25%;
        padding-inline: 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    &-title {
        font-size: 18px;
        font-weight: 500;

    }

    &-option {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    &-group-display__list {
        display: flex;
        flex-direction: column;
        gap: 7px;
        font-size: 16px;
        font-weight: 400;
    }

    &-group-display__list-item {
        label {
            display: flex;
            align-items: center;

            input {
                width: 20px;
                height: 20px;
                margin: 5px;
            }
        }
    }

    &-group-display__submit {
        display: flex;
        justify-content: end;

        input {
            background-color: white;
            font-size: 20px;
            font-weight: 400;
            width: 120px;
            height: 35px;
            padding: 4px 8px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }

        input:hover {
            background-color: #05a845;
            color: white;
        }
    }

    &-group-display__price-range {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    @mixin input {
        border-radius: 4px;
        height: 40px;
        font-size: 18px;
        font-weight: 400;
        min-width: 200px;
        padding: 2px 4px;

    }

    &-group-display__price-range-from {
        input {

            @include input
        }
    }

    &-group-display__price-range-to {
        input {

            @include input
        }
    }
}