.section-container {
  margin-top: var(--margin_top);
  width: 100%;
  .section-container__heading {
    display: var(--display);
    align-items: center;
    font-size: calc(var(--font_size_heading) + 0.390625vw);
  }
  .section-container__list {
    margin-top: var(--list_margin_top);
    display: grid;
    gap: var(--item_gap);

    .section-container__list__item {
      position: relative;
      // width: 100%;
      @mixin wrap__img {
        max-width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        padding-top: var(--padding-top) !important;
        animation: opacity 1.3s cubic-bezier(0, 0.51, 0.25, 1) 0s forwards;
      }

      @mixin img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--border-radius);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        object-position: center !important;
      }

      .section-container__list__item__image1 {
        @include wrap__img;
        img {
          @include img;
        }
      }
      .section-container__list__item__image2 {
        @include wrap__img;
        display: none;
        img {
          @include img;
        }
      }
      .section-container__list__item__content {
        position: var(--position);
        left: var(--left-desktop);
        bottom: var(--bottom-desktop);
        display: flex;
        flex-direction: column;
        gap: var(--gap_content_desktop);
        align-items: var(--align_item);
        transform: translateX(var(--transform));

        .section-container__list__item__content__text {
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: var(--color);
          h5 {
            font-weight: 500px;
            font-size: var(--font_title_desktop);
            line-height: 60px;
          }

          p {
            font-weight: 400px;
            font-size: var(--font_sub_title_desktop);
            line-height: 32px;
          }
        }
        .section-container__list__item__content__buttons {
          display: flex;
          gap: 10px;
          @mixin style_a {
            white-space: nowrap;
            line-height: 36px;
            text-decoration: var(--text-decoration);
          }
          @mixin button {
            border-radius: 4px;
            padding: 0px var(--btn_padding);
            font-weight: var(--font-weight-button);
            font-size: var(--font_button_desktop);
            color: var(--btn_color);
            background: var(--btn_background);
            text-align: center;
            border: var(--btn_border);
          }
          .section-container__list__item__content__buttons--first {
            @include button;
            a {
              @include style_a;
            }
          }
          .section-container__list__item__content__buttons--second {
            @include button;
            a {
              @include style_a;
            }
          }
        }
      }
    }
  }
}
