.section {
  margin-top: var(--margin-top);
  display: grid;
  gap: var(--item-gap);
  margin-inline: var(--margin-inline);
  .section-v2__item {
    position: relative;
    height: var(--height);
    width: var(--item-width);
    .section-v2__item-img {
      width: 100%;
      height: var(--height-img);
      object-fit: cover;
      border-radius: 4px;
    }
    .section-v2__item-content {
      position: var(--position);
      left: var(--left);
      bottom: var(--bottom);
      display: flex;
      flex-direction: column;
      gap: var(--gap);
      align-items: var(--align-item);
      .section-v2__item-content__group-text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: var(--color);
        .section-v2__item-content__group-text-title {
          font-weight: 500px;
          font-size: var(--font-title-desktop);
        }
        .section-v2__item-content__group-text-sub-title {
          font-weight: 400px;
          font-size: var(--font-sub-title-desktop);
        }
      }

      .section-v2__item-content__group-button {
        display: flex;
        gap: 10px;
        .button {
          border-radius: 4px;
          padding: 0px var(--padding);
          font-weight: 500;
          font-size: var(--font-button-desktop);
          color: var(--color);
          background: var(--background);
          text-align: center;
          border: var(--border);
        }
        .section-v2__item-content__group-button-left {
          a {
            white-space: nowrap;
            line-height: 36px;
          }
        }
        .section-v2__item-content__group-button-right {
          a {
            white-space: nowrap;
            line-height: 36px;
          }
        }
      }
    }
  }
}
