<link
  rel="stylesheet"
  href="{{ 'main-collection.css' | asset_url }}"
  media="all"
>

{% liquid
  assign products = collection.products
  assign productSize = products.size
  assign collectionTitle = collection.title
  assign collectionDescription = collection.description
  assign itemsPerPage = section.settings.items_per_page | default: 20 | times: 1
%}

<div class="section_container container_wrapper">
  {% comment %}
    ------------------------
    COLLECTION TOP
    ------------------------
  {% endcomment %}

  <div class="collection__header">
    <div class="collection__header-content">
      {% render 'collection-content',
        title: collectionTitle,
        description: collectionDescription,
        productCount: productSize
      %}
    </div>
    <div class="collection__header-content">
      {% render 'collection-image', image: collection.image %}
    </div>
  </div>

  <div class="collection__toolbar">
    {% if true %}
      <button class="collection__toolbar-filter-btn">
        <span class="collection__toolbar-filter-icon">{% render 'icon-close' %}</span>
        Filter
      </button>
    {% endif %}
    <div class="collection__toolbar-sort">
      {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
      {% render 'collection-sort',
        label: 'Sort by',
        options: collection.sort_options,
        collection_url: collection.url,
        _id: 'sort_by',
        _name: 'sortby',
        _form: 'selectform',
        _sort_by: sort_by
      %}
    </div>
  </div>

  {% if true %}
    <div class="collection__toolbar__filter">
      {% render 'collection-filter' %}
    </div>
  {% endif %}

  <div class="collection__hr"></div>

  {%- comment -%}
    -------------------------------
    RENDER PRODUCT
    -------------------------------
  {%- endcomment -%}
  {%- paginate collection.products by itemsPerPage -%}
    <div class="collection__products" id="collection__products">
      {% for product in collection.products %}
        {% render 'collection-product', product: product %}
      {% endfor %}
    </div>
    <div class="collection__paginate">
      {%- render 'pagination', paginate: paginate, type: section.settings.paginate_style -%}
    </div>
  {%- endpaginate -%}
</div>

{% schema %}
{
  "name": "Collection",
  "settings": [
    {
      "type": "number",
      "label": "Items per page",
      "default": 20,
      "id": "items_per_page"
    },
    {
      "type": "select",
      "id": "paginate_style",
      "label": "Paginate Style",
      "options": [
        {
          "label": "Infinity",
          "value": "infinity"
        },
        {
          "label": "Page",
          "value": "page"
        }
      ],
      "default": "page"
    }
  ],
  "blocks": [
    {
      "type": "filter_availability",
      "name": "Availability",
      "limit": 1
    }
  ]
}
{% endschema %}
{{ 'collection.js' | asset_url | script_tag }}
{{ 'filter.js' | asset_url | script_tag }}
{{ 'infinity.js' | asset_url | script_tag }}
