.block__filter {
  width: 100%;
}

.filter-form {
  display: flex;
}

.filter-wrapper {
  min-width: 25%;
  padding-inline: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.filter-title {
  font-size: 18px;
  font-weight: 500;
}

.filter-option {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.filter-group-display__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 16px;
  font-weight: 400;
}

.filter-group-display__list-item label {
  display: flex;
  align-items: center;
}

.filter-group-display__list-item label input {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.filter-group-display__submit {
  display: flex;
  justify-content: end;
}

.filter-group-display__submit input {
  background-color: #fff;
  font-size: 20px;
  font-weight: 400;
  width: 120px;
  height: 35px;
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.filter-group-display__submit input:hover {
  background-color: #05a845;
  color: #fff;
}

.filter-group-display__price-range {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.filter-group-display__price-range-from input, .filter-group-display__price-range-to input {
  border-radius: 4px;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  min-width: 200px;
  padding: 2px 4px;
}
