.collection__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 12px;
}

.collection__toolbar {
  padding-inline: 12px;
}

.collection__toolbar-filter-btn {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 20px;
  min-width: 150px;
}

.collection__toolbar-filter-icon div {
  display: flex;
  align-items: center;
}

.collection__toolbar-filter-icon div svg {
  width: 20px;
  height: 20px;
}

.collection__toolbar-sort {
  display: flex;
  gap: 16px;
}

.collection__toolbar__filter {
  max-height: 0;
  overflow: hidden;
  transition: all .3s;
  padding-inline: 12px;
}

.collection__toolbar__filter.active {
  max-height: 200px;
}
