.section-container {
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: var(--section_margin_top_desktop);
  --item_width:1;
  width: 100%;
  --btn_padding:0 60px;
  --font-weight-button:500;
  --font_button_desktop:16px;
  --font_button_mobile:14px;
  --btn_color:#000;
  --btn_background:transparent;
  --btn-border:1px solid #000;
  --text-decoration:none;
  --height_image:100%;
  position: relative;
}

.section-container .number_count_up {
  position: absolute;
  left: 40px;
  bottom: 109px;
  z-index: 10;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
}

.section-container .section-container__heading {
  font-size: calc(30px + .39063vw);
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

.section-container .section-container__list {
  display: grid;
  margin: 0 var(--item_margin);
}

.section-container .section-container__list .section-container__list__item {
  position: relative;
  width: calc(100%/var(--item_width));
  padding-inline: var(--item_padding);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__image1 {
  max-width: 100%;
  height: var(--height_image);
  overflow: hidden;
  position: relative;
  padding-top: var(--padding-top) !important;
  animation: opacity 1.3s cubic-bezier(0, 0.51, 0.25, 1) 0s forwards;
  border-radius: var(--border_radius);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__image1 img {
  max-width: 100%;
  width: var(--image_width);
  height: var(--height_image);
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--border-radius);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -o-object-position: center !important;
  object-position: center !important;
  border-radius: var(--border_radius);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__image2 {
  max-width: 100%;
  height: var(--height_image);
  overflow: hidden;
  position: relative;
  padding-top: var(--padding-top) !important;
  animation: opacity 1.3s cubic-bezier(0, 0.51, 0.25, 1) 0s forwards;
  border-radius: var(--border_radius);
  display: none;
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__image2 img {
  max-width: 100%;
  width: var(--image_width);
  height: var(--height_image);
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: var(--border-radius);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -o-object-position: center !important;
  object-position: center !important;
  border-radius: var(--border_radius);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__content {
  position: var(--position);
  left: var(--left-desktop);
  bottom: var(--bottom-desktop);
  display: flex;
  flex-direction: column;
  gap: var(--gap_content_desktop);
  align-items: var(--align_item);
  margin-top: var(--content-margin-top);
  transform: translateX(var(--transform));
  color: var(--content_text_color);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--color);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__text h5 {
  font-weight: 500;
  font-size: var(--font_title_desktop);
  line-height: 60px;
  white-space: var(--title_wap);
  text-align: var(--text_align);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__text p {
  font-weight: 400;
  font-size: var(--font_sub_title_desktop);
  line-height: 32px;
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__buttons {
  display: flex;
  gap: 10px;
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__buttons .section-container__list__item__content__buttons--first {
  line-height: 24px;
  border-radius: 4px;
  padding: var(--btn_padding);
  font-weight: var(--font-weight-button);
  font-size: var(--font_button_desktop);
  color: var(--btn_color);
  background: var(--btn_background);
  text-align: center;
  border: var(--btn-border);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__buttons .section-container__list__item__content__buttons--first a {
  white-space: nowrap;
  line-height: 36px;
  -webkit-text-decoration: var(--text-decoration);
  text-decoration: var(--text-decoration);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__buttons .section-container__list__item__content__buttons--second {
  line-height: 24px;
  border-radius: 4px;
  padding: var(--btn_padding);
  font-weight: var(--font-weight-button);
  font-size: var(--font_button_desktop);
  color: var(--btn_color);
  background: var(--btn_background);
  text-align: center;
  border: var(--btn-border);
}

.section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__buttons .section-container__list__item__content__buttons--second a {
  white-space: nowrap;
  line-height: 36px;
  -webkit-text-decoration: var(--text-decoration);
  text-decoration: var(--text-decoration);
}

@media (max-width: 768px) {
  .section-container {
    max-width: var(--max-width);
    margin: 0 auto;
    margin-top: var(--section_margin_top_desktop);
    --item_width:1;
    width: 100%;
    --btn_padding:0 60px;
    --font-weight-button:500;
    --font_button_desktop:16px;
    --font_button_mobile:14px;
    --btn_color:#000;
    --btn_background:transparent;
    --btn-border:1px solid #000;
    --text-decoration:none;
    --height_image:100%;
  }
  .section-container .section-container__heading {
    font-size: calc(30px + .39063vw);
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
  }
  .section-container .section-container__list {
    display: grid;
    margin: 0 var(--item_margin);
  }
  .section-container .section-container__list .section-container__list__item {
    position: relative;
    width: calc(100%/var(--item_width));
    padding-inline: var(--item_padding);
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__image1 {
    max-width: 100%;
    height: var(--height_image);
    overflow: hidden;
    position: relative;
    padding-top: var(--padding-top) !important;
    animation: opacity 1.3s cubic-bezier(0, 0.51, 0.25, 1) 0s forwards;
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__image1 img {
    max-width: 100%;
    width: var(--image_width);
    height: var(--height_image);
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: var(--border-radius);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -o-object-position: center !important;
    object-position: center !important;
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__image2 {
    max-width: 100%;
    height: var(--height_image);
    overflow: hidden;
    position: relative;
    padding-top: var(--padding-top) !important;
    animation: opacity 1.3s cubic-bezier(0, 0.51, 0.25, 1) 0s forwards;
    display: none;
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__image2 img {
    max-width: 100%;
    width: var(--image_width);
    height: var(--height_image);
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: var(--border-radius);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -o-object-position: center !important;
    object-position: center !important;
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__content {
    position: var(--position);
    left: var(--left-desktop);
    bottom: var(--bottom-desktop);
    display: flex;
    flex-direction: column;
    gap: var(--gap_content_desktop);
    align-items: var(--align_item);
    margin-top: var(--content-margin-top);
    transform: translateX(var(--transform));
    color: var(--content_text_color);
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color);
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__text h5 {
    font-weight: 500;
    font-size: var(--font_title_desktop);
    line-height: 60px;
    white-space: var(--title_wap);
    text-align: var(--text_align);
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__text p {
    font-weight: 400;
    font-size: var(--font_sub_title_desktop);
    line-height: 32px;
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__buttons {
    display: flex;
    gap: 10px;
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__buttons .section-container__list__item__content__buttons--first {
    line-height: 24px;
    border-radius: 4px;
    padding: var(--btn_padding);
    font-weight: var(--font-weight-button);
    font-size: var(--font_button_desktop);
    color: var(--btn_color);
    background: var(--btn_background);
    text-align: center;
    border: var(--btn-border);
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__buttons .section-container__list__item__content__buttons--first a {
    white-space: nowrap;
    line-height: 36px;
    -webkit-text-decoration: var(--text-decoration);
    text-decoration: var(--text-decoration);
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__buttons .section-container__list__item__content__buttons--second {
    line-height: 24px;
    border-radius: 4px;
    padding: var(--btn_padding);
    font-weight: var(--font-weight-button);
    font-size: var(--font_button_desktop);
    color: var(--btn_color);
    background: var(--btn_background);
    text-align: center;
    border: var(--btn-border);
  }
  .section-container .section-container__list .section-container__list__item .section-container__list__item__content .section-container__list__item__content__buttons .section-container__list__item__content__buttons--second a {
    white-space: nowrap;
    line-height: 36px;
    -webkit-text-decoration: var(--text-decoration);
    text-decoration: var(--text-decoration);
  }
}
